@page "/"

<DxTabs>
    @foreach(var tab in TabList) {
        <DxTabPage @key="@tab">
            <TextTemplate>
                <div>
                    @tab
                    <DxButton IconCssClass="oi oi-circle-x"
                              RenderStyle="ButtonRenderStyle.Link"
                              RenderStyleMode="ButtonRenderStyleMode.Text"
                              CssClass="shadow-none remove-padding"
                              Click="() => RemoveTab(tab)" />
                </div>
            </TextTemplate>
            <ChildContent>
                <div class="p-1">
                    The <b>@tab</b> tab's content
                </div>
            </ChildContent>
        </DxTabPage>
    }
</DxTabs>

<DxButton Click="AddTab">Add Tab</DxButton>
<DxButton Click="RestoreTabs">Restore Tabs</DxButton>

@code {
    List<string> TabList = new List<string> { "Required Information", "Additional Information" };
    void RemoveTab(string tab) {
        TabList.Remove(tab);
    }
    void AddTab() {
        TabList.Add("New Tab");
    }
    void RestoreTabs() {
        TabList.Clear();
        TabList.Add("Required Information");
        TabList.Add("Additional Information");
    }
}
